# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vs/
BinObj/
*.ilk
*.pdb
*.cso

# DirectX Texture libraries
!DirectXTex.lib
!DirectXTex_Debug.lib

# Fmod libraries
!fmod.dll
!fmod_vc.lib
!fmod64_vc.lib
!fmod64.dll

# Except Resources To Be Copied
Bin/
Engine/
!/GameEngine/Bin/


